#header-main
  z-index: 999
  .custom-logo-link
    @apply flex justify-center items-center pl-5 border-r border-solid border-black md:w-[300px] md:pl-0
    img
      @apply w-[116px] md:w-[175px] object-cover px-0 md:px-5

#header-main
  .wpml-ls-legacy-dropdown
    width: 75px
    ul
      .wpml-ls-current-language
        .wpml-ls-item-toggle
          @apply flex justify-center items-center p-0 m-0 border-0 border-r border-l border-solid border-black h-[75px] text-base text-black font-sans font-bold bg-bg-color transition-all duration-300 ease-in z-[200]
          &::after
            display: none
          &:hover
            background-color: darken($bg-color, 10%)
        .wpml-ls-sub-menu
          border-top: 1px solid #000
          transition: all .35s ease-in-out
          transform: translateY(-100%)
          z-index: 190
          .wpml-ls-item
            .wpml-ls-link
              @apply flex justify-center items-center h-[75px] p-0 font-sans text-base font-bold border border-t-0 border-solid border-black bg-bg-color transition-all duration-300 ease-in
              &:hover
                background-color: darken($bg-color, 10%)

      &:hover
        .wpml-ls-sub-menu
          transform: translateY(0)


.navigation-main-content
  .menu-top-level
    flex-grow: 1
    //display: flex
    justify-content: center
    align-items: center
    .menu-item
      @apply pr-2 xl:pr-3 2xl:pr-8
      &:last-of-type
        @apply pr-0
      a
        @apply block font-sans font-bold text-sm xl:text-base text-black uppercase transition-all duration-300 ease-in whitespace-nowrap 
        &:hover
          color: rgba(0, 0, 0, 0.5)
    .current_page_item
      a
        color: rgba(0, 0, 0, 0.5)
  #menu-szl, #menu-szl-fr
    .menu-item a
      &:hover
        @apply text-main-green
    .current_page_item a
      @apply text-main-green
  #menu-hotel, #menu-hotel-fr
    .menu-item a
      &:hover
        @apply text-main-red
    .current_page_item a
      @apply text-main-red
  #menu-jura, #menu-jura-fr
    .menu-item a
      &:hover
        @apply text-main-blue
    .current_page_item a
      @apply text-main-blue


//Responsive
@media (max-width: 1200px)
  .navigation-main-content
    .main-menu-top-level
      @apply hidden

@media (max-width: 767px)
  #header-main
    .custom-logo-link
      border-right: none

.admin-bar
  #header-main
    @apply top-[32px]

@media (max-width: 782px)
  .admin-bar
    #header-main
      @apply top-[46px]

@media (max-width: 600px)
  .admin-bar
    #header-main
      @apply top-0