.mega-menu-toggle
  width: 75px
  height: 75px
  .bar
    width: 50px
    height: 2px
    @apply block mx-auto bg-black transition-all duration-500 ease-in-out box-border transform
    &:nth-of-type(1)
      margin-bottom: 5px
      animation: rotateR 0.6s cubic-bezier(0.5, 0.2, 0.2, 1)
    &:nth-of-type(2)
      animation: fade 0.6s cubic-bezier(0.1, 0.8, 0.1, 1)
    &:nth-of-type(3)
      margin-top: 5px
      animation: rotateL 0.6s cubic-bezier(0.5, 0.2, 0.2, 1)

body.mega-menu-open
  .mega-menu-toggle
    .bar
      &:nth-of-type(1)
        transform: translateY(10px) rotate(45deg)
      &:nth-of-type(2)
        @apply opacity-0
      &:nth-of-type(3)
        transform: translateY(-5px) rotate(-45deg)

.btn
  &-general
    @apply uppercase border border-solid border-[#1e1e1e] px-2 lg:px-8 py-4 font-bold text-base uppercase text-center w-full lg:w-auto max-w-[330px] transition-all duration-300 ease-in hover:bg-white mb-4 block
    &--hotel
      &:hover
        @apply bg-main-red text-white
        svg > path
            transition: fill .4s ease-in-out
            fill: white
    &--hotel.is-checked
      @apply bg-main-red text-white
      &:hover
        @apply bg-white text-black border-main-red
    &--szl
      &:hover
        @apply bg-main-green text-white
    &--szl.is-checked
      @apply bg-main-green text-white
      &:hover
        @apply bg-white text-black border-main-green
    &--jura
      &:hover
        @apply bg-main-blue text-white
    &--jura.is-checked
      @apply bg-main-blue text-white
      &:hover
        @apply bg-white text-black border-main-blue
  &__arrow-alle
    @apply text-sm font-semibold
    svg
      display: inline
  &-filter
    @apply mr-6 mb-6 xl:mb-0 last-of-type:mr-0 whitespace-nowrap text-ellipsis overflow-hidden max-w-none inline
